$navbar-height: 100px;
$navbar-menu-font-size: 16px;
$navbar-login-padding: 10px 15px;
$navbar-background-color: #192140;
$navbar-blog-color: #dcf10d;
$navbar-text-color: #fff;
$navbar-signup-color: #9d9db5;
$navbar-hover-color: #f8f9fc;
$navbar-login-color: #0266ff;
$navbar-link-hover-underline: underline;
$navbar-menu-font-family: "Inter";
$font-size-gen: 12px;
$font-size-max: 24px;
$font-size-h2: 16px;
$footer-background-color: #10131c;
$footer-text-color: #d7f8ff;
$news-card-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
